body
{
transition-duration:2s;
font-family:"Verdana";
background-image:linear-gradient(to right,linear-gradient(to bottom,#FF006A,#FFAFFF),#0000FF);
color:grey;
transition-timing-function:ease-in-out;
}
h1
{
transition-duration:2s;
transition-timing-function:ease-in-out;
color:black;
background-image:linear-gradient(to right,linear-gradient(to bottom,#FF006A,#FFAFFF),#0000FF);
border:2px solid RGB(0,0,0);
text-align:center;
border-radius:10px;
}
label
{
transition-duration:2s;
color:black;
background-image:linear-gradient(to right,grey,white);
}
