body
{
font-family:"verdana";
}
body
{
background-color:#FFC11C
}
h1
{
border-style:double;
border-color:blue;
}
h2
{
border-style:groove;
border-color:blue;
}
#ridge
{
border-style:ridge;
border-color:blue;
}
#inset
{
border-style:inset;
border-color:blue;
}
#outset
{
border-style:outset;
border-color:blue;
}
#radius
{
border-style:groove;
border-color:blue;
border-radius:5px;
}
#outline
{
border:5px solid black
outline:4px solid blue;;
outline-offset:5px;
}