body
{
background-color:RGBA(200,10,100,0.6);
font-family:"verdana";
color:white;
transition-duration:2s;
}
h1
{
text-align:center;
font-family:"Algerian";
transition-duration:2s;
}
label
{
background-color:RGBA(100,0,250,0.7);
font-family:"Verdana";
transition-duration:2s;
}
h1::first-letter
{
font-size:150%;
transition-duration:2s;
}	
input,label
{
box-shadow:2px,2px,2px,2px #F1A0FF;
transition-duration:2s;
}
input
{
background-color:RGBA(200,10,100,0.5);
color:white;
transition-duration:2s;
}
button
{
background-color:RGBA(200,10,100,0.5);
color:white;
border:5px groove RGB(100,5,50);
border-radius:100px;

transition-duration:2s;
}
button:hover
{

background-image:linear-gradient(RGB(200,10,100),white,RGB(200,10,100));
color:black;
border:5px solid RGB(100,10,200);
width:75px;
transition-timing-function:ease-in-out;
}


