body
{
color:white;
background-color:RGB(0,0,0);
font-family:"verdana";
background-image: url('http://getwallpapers.com/wallpaper/full/e/f/1/62533.jpg');
background-repeat:no-repeat;
background-size:cover;
}
table td,table th
{
border:2px solid powderblue;
}
table
{
margin:center;
border:5px groove red;
width:600px;
height:100px;
border-collapse:collapse;
}
h1
{
background:linear-gradient(black,red,black);
font-family:"Algerian";
text-align:center;
border:5px groove red;
border-radius:50px;
}
div
{ 
margin-left:25%; 
margin-right:5%;
margin-top:20%;
margin-bottom:30%;
}
